.divPlaceholder {
    border: 2px black dashed;
    outline: 2px white dashed;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
    font-size: large;
}

/*  Header Start    */

header {
    display: flex;
    flex-direction: row;
    background-color: #1495ff;
    padding: 10px;
    align-items: center;
}

.headerButton {
    display: flex;
    border: 2px black solid;
    padding: 10px;
    color: white;
    transition: 0.5s;
    align-items: center;
    cursor: pointer;
    background: none;
    border-radius: 10px;
}

.headerButton:hover {
    background-color: white;
    color: black;
}

.header1 {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00000023;
    margin: 5px;
    padding: 5px;
    border: 2px black solid;
    border-radius: 10px;
}

.search input {
    background: none;
    border: none;
    color: white;
    outline: none;
}

.search input::placeholder {
    color: #c0c0c0;
}

.search input:active {
    border: none;
    outline: none;
}

.search i {
    color: white;
}

/*  Header End    */

/*  Main Start    */

.main {
    display: flex;
    flex-direction: row;
    min-height: 10rem;
}

.mainDiv {
    padding: 3rem;
}

/*  Left part start    */

.mainDiv1 {
    width: 17rem;
    background-color: #0f558f;
}

.lNav {
    width: 9 0%;
    padding: 10px;
    background-color: #1495ff;
    border-radius: 50px;
    cursor: pointer;
    
}

/*  Num of players start    */

.sliderText {
    background-color: white;
    width: 100%;
    font-size: large;
    font-weight: 700;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor:default;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 20px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #008cff;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  border-radius: 50px;
}

/*  Num of players end    */

/*  Left part end    */

/*  Right part start    */

.mainDiv2 {
    width: calc(100vw - 19rem);
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

/*  Board Games Start    */

.boardGameBlockRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4rem;
}

.boardGame {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #00000028;
}

.boardGame img {
    width: 10rem;
    height: 9rem;
    object-fit: cover;
    overflow: hidden;
    border: 1px black solid;
}

.boardGame .rent {
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    background-color: #47acff;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.boardGame .rent:hover {
    background-color: #008cff;
}

/*  Board Games End*/
/*  Right part End    */
/*  Main End    */

/*  Footer Start    */

footer {
    background-color: black;
    color: white;
}

/*  Footer End    */